$font-stack: Arial, Helvetica, sans-serif;
$weight-stack: bold;

%atom-display {
    text-align: center;
    font-size: xx-small;
    font-weight: bold;
}

.atom {
    border: 1px solid black;
    border-radius: 4px;
    margin: 1px;

    &:hover {
        background-color: aliceblue;
    }
    
    .atomic-num {
        margin-left: 5px;
        text-align: left;
        @extend %atom-display
    }
    
    .symbol {
        font-size: small;
        @extend %atom-display
    }
    
    .name {
        font-weight: normal;
        @extend %atom-display
    }
    
    .atomic-mass {
        @extend %atom-display
    }
}

.diatomic-nonmetal {
    background-color: rgb(127, 240, 121);
}

.alkali-metal {
    background-color: rgb(88, 125, 246);
}

.alkaline-earth-metal {
    background-color: rgb(131, 240, 240);
}

.metalloid {
    background-color: rgb(233, 251, 128);
}

.polyatomic-nonmetal {
    background-color: rgb(223, 197, 66);
}

.diatomic-nonmetal {
    background-color: rgb(235, 179, 75);
}

.noble-gas {
    background-color: rgb(106, 211, 171);
}

.post-transition-metal {
    background-color: rgb(243, 108, 108);
}

.transition-metal {
    background-color: rgb(243, 108, 198);
}

.lanthanide {
    background-color: rgb(108, 108, 243);
}

.actinide {
    background-color: rgb(130, 108, 243);
}

.unknown {
    background-color: rgb(166, 176, 255);
}