.periodic-table-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

// Start - Table Positioning
.showcase {
    border: 1px solid black;
    border-radius: 4px;
    margin: 1px;
    grid-area: 1 / 3 / span 3 / span 10  ;
}

.helium {
    grid-column-start: 18;
}

.boron {
    grid-column-start: 13;
}

.aluminium {
    grid-column-start: 13;
}

.hafnium {
    grid-column-start: 4;
}

.rutherfordium {
    grid-column-start: 4;
}

.lanthanide {
    margin-top: .5rem;
}

.lanthanum{
    grid-column-start: 4;
}

.actinium {
    grid-column-start: 4;
}
// End - Table Positioning